---
import Navbar from "../../components/navbar";
import ProgramsPage from "../../components/programs"
import Footer from '../../components/footer';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>PROGRAM MUGEN (Yukari)</title>
		<meta name="description" content="Program MUGEN (Yukari) adalah platform pembelajaran modern dengan 1000+ peserta dan 95% tingkat keberhasilan." />
		<meta property="og:title" content="Program MUGEN (Yukari)" />
  		<meta property="og:description" content="Bergabunglah bersama 1000+ peserta di platform Yukari, dirancang untuk meningkatkan potensi Anda." />
	</head>
	<body>
		<Navbar client:load />
        <ProgramsPage client:load />
        <Footer client:load />
	</body>
</html>