---
import HomePage from '../components/landing';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import '../styles/global.css';
// Component Imports
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>MUGEN (Yukari) - Platform Pembelajaran Interaktif</title>
		<meta name="description" content="MUGEN (Yukari) adalah platform pembelajaran modern dengan 1000+ peserta dan 95% tingkat keberhasilan." />
		<meta property="og:title" content="MUGEN (Yukari) - Platform Pembelajaran Interaktif" />
  		<meta property="og:description" content="Bergabunglah bersama 1000+ peserta di platform Yukari, dirancang untuk meningkatkan potensi Anda." />
	</head>
	<body>
		<Navbar client:load />
		<HomePage client:load />
		<Footer client:load />
	</body>
</html>
